---
---
@import "reset";
@import "vars";
@import "header";
@import "section";
@import "teamlist";
@import "footer";
@import "sponsors";



html, body {
	margin: 0;
	padding: 0;
	font-family: 'Titillium Web', sans-serif;
}


* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: $blue;
}
a:hover {
	text-decoration: underline;
}

h1,h2,h3,h4,h5 {
	font-family: 'Titillium Web', sans-serif;
}
h1,h2,h3,h4 {
	padding: 0;
	margin: 0;
	font-weight: bold;
}
h1 {
	font-size: 2.25em;
	margin-bottom: 0.25em;
	&.pagetitle {
		margin: 1.5em 0em 0.5em 0em;
		font-size: 2.5em;
		box-shadow: inset 5px 300px 5px rgba(51, 51, 109, 0.43);
		font-style: italic;
	}
}
h2 {
	font-size: 1.75em;
	margin-bottom: 0.5em;
}
h3 {
	font-size: 1.25em;
	line-height: 1.25em;
	margin-bottom: 0.5em;
}

h4 {
	font-size: 1.15em;
	margin-bottom: .24em;
}
